@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais adicionais */
body {
    @apply bg-surface-100 text-surface-700;
}

.divider-vertical {
    border-left: 1px solid rgba(var(--color-gray-500), 0.2);
    height: 20px;
    margin: auto 0.5rem;
}
