@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizations */
:root {
  --color-primary-500: #4CAF50; /* Verde */
  --color-secondary-500: #FFC107; /* Amarelo */
  --color-accent-500: #2196F3; /* Azul */
}

/* Add any additional global styles here */
